#maindiv{
	width: 900px;
	margin: auto;
}
            #div1{
				float: left;
			}
			#div2{
				float: left;
			}
			#div3{
				float: left;
			}
			#div4{
				float: left;
			}
			#div5{
				float: left;
			}
			
			#div6{
				float: left;
			}
			#div7{
				float: left;
			}
			#div8{
				float: left;
			}
			#div9{
				float: left;
			}
			#div10{
				float: left;
			}
			#div11{
				float: left;
			}
			#div12{
				float: left;
			}
			#div13{
				float: left;
			}
			#div14{
				float: left;
			}
			#div15{
				float: left;
			}
			#div16{
				float: left;
			}
			#div17{
				float: left;
			}
			#div18{
				float: left;
			}
			
			#div19{
				float: left;
			}
			#div20{
				float: left;
			}
			#div21{
				float: left;
			}
			#div22{
				float: left;
			}
			#div23{
				float: left;
			}
			.clear{
				clear: both;
			}