<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mayuxuan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ShowAllProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ShowAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllProductServlet</servlet-name>
    <url-pattern>/showAllProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductListServlet</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/adminProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteProductServelt</display-name>
    <servlet-name>AdminDeleteProductServelt</servlet-name>
    <servlet-class>com.qianfeng.web.AdminDeleteProductServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteProductServelt</servlet-name>
    <url-pattern>/adminDeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowAddProductServlet</display-name>
    <servlet-name>AdminShowAddProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminShowAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowAddProductServlet</servlet-name>
    <url-pattern>/adminShowAddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductServlet</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowEditProductServlet</display-name>
    <servlet-name>AdminShowEditProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminShowEditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowEditProductServlet</servlet-name>
    <url-pattern>/adminShowEditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProductServlet</display-name>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminEditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <url-pattern>/adminEditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchProductListServlet</display-name>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminSearchProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <url-pattern>/adminSearchProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteAllProductServlet</display-name>
    <servlet-name>AdminDeleteAllProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminDeleteAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteAllProductServlet</servlet-name>
    <url-pattern>/adminDeleteAllProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.qianfeng.web.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet1</display-name>
    <servlet-name>UserLoginServlet1</servlet-name>
    <servlet-class>com.qianfeng.web.UserLoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet1</servlet-name>
    <url-pattern>/userLoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerLoginServlet</display-name>
    <servlet-name>BuyerLoginServlet</servlet-name>
    <servlet-class>com.qianfeng.web.BuyerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerLoginServlet</servlet-name>
    <url-pattern>/buyerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerLoginServlet1</display-name>
    <servlet-name>BuyerLoginServlet1</servlet-name>
    <servlet-class>com.qianfeng.web.BuyerLoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerLoginServlet1</servlet-name>
    <url-pattern>/buyerLoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/imageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/productServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUserServlet</display-name>
    <servlet-name>InsertUserServlet</servlet-name>
    <servlet-class>com.qianfeng.web.InsertUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserServlet</servlet-name>
    <url-pattern>/insertUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOneServlet</display-name>
    <servlet-name>FindOneServlet</servlet-name>
    <servlet-class>com.qianfeng.web.FindOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOneServlet</servlet-name>
    <url-pattern>/findOneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCarProductServlet</display-name>
    <servlet-name>FindCarProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.FindCarProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCarProductServlet</servlet-name>
    <url-pattern>/findCarProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelectCarProductServlet</display-name>
    <servlet-name>DelectCarProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.DelectCarProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelectCarProductServlet</servlet-name>
    <url-pattern>/delectCarProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountCarProductServlet</display-name>
    <servlet-name>CountCarProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.CountCarProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountCarProductServlet</servlet-name>
    <url-pattern>/countCarProductServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Autologin</display-name>
    <filter-name>Autologin</filter-name>
    <filter-class>com.qianfeng.web.filter.Autologin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Autologin</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>